module{
    color: blue;
    background: gray;
    font-size: 35px;
}
section{
    color: blue;
    background: gray;
    font-size: 35px;
}
student{
    color: blue;
    background: gray;
    font-size: 35px;
}
